body {
    background: rgb(36, 35, 35);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  img {
    margin-top: 5rem;
    height: 30rem;
    width: 30rem;
    object-fit: cover;
  }

  .search-bar-wrapper {
    margin-top: 5rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .new-cat-btn {
    cursor: pointer;
    height: 4rem;
    width: 12rem;
    font-size: 1.25rem;
    color: white;
    background-color: rgb(176, 87, 10);
    border: none;
  }

  .search-btn {
    cursor: pointer;
    background: none;
    border: none;
  }

  input {
    height: 2rem;
    width: 20rem;
    border-radius: 0.5rem;
    border: none;
  }